
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    background-color: #e5e5e5;
    overflow-x: hidden;
    font-family: 'Rambla', 'Times New Roman', Times, serif;
}



/* ========= NAV BAR =============================== */

header {
    margin-top: 0;
}

.nav-bar {
    margin-top: 0;
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 1vw;
    z-index: 100;
}

#nav-profile-picture {
    border-radius: 50%;
    border: none;
}

#icons-container {
    display: inline;
    align-items: center;
    cursor: pointer;
}

.icon {
    min-width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    box-sizing: content-box;
    text-align: center;
    font-size: 1em;
    position: relative;
    margin: 0.5vh 2vw;
    line-height: 1.5;
    width: 30px;
}

label {
    font-family: 'Ropa Sans', 'Times New Roman', Times, serif;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

@media (max-width: 700px) {
    .icon {
        width: 18px;
    }
    label {
        font-size: 0.6em;
    }

}

.left-container {
    align-items: center;
    display: inline-flex;
}

#logo {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

#search-container {
    background-color: #EEF3F7;
    display: flex;
    box-sizing: content-box;
    border-radius: 4px;
    align-items: center;
    padding: 1vh 1.5vw;
    margin-left: 1vw;
    cursor: text;
    vertical-align: baseline;
}

#search-field {
    margin-left: .8em;
    font-size: 1em;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    box-shadow: 0 0 0 0;
    border: 0 none;
    background-color: #EEF3F7;
    align-items: center;
    outline: 0;
}


/* =========== CONTEÚDO PRINCIPAL DA PÁGINA ============================================ */



main {
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

section {
    width: min(90vw, 768px);
    background-color: #FFFFFF;
    margin: auto;
    box-sizing: border-box;
}

section#profile-informations {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
}

#profile-background-image {
    height: 12em;
    background-image: url(./assets/background_image_programming_life.jpg);
    background-repeat: no-repeat;
    border-image: none;
    width: 100%;
    background-position: center;
    top: 0;
    background-size: cover;
}

#profile-picture {
    border-radius: 50%;
    /* border: .5vw solid #FFFFFF; */
    /* width: 152px; */
    width: 16%;
    position: absolute;
    
    min-width: 120px;
    left: 2vw;
    top: 100px;
    /* transform: translateY(80%); */
}

.profile-information {
    position: relative;
}

#profile-informations-content {
    margin-top: 50px;
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 3vw;
    padding-bottom: 6vh;
}

.title, .description, .location {
    box-sizing: content-box;
    margin: 0.2vh 0;
}

.title {
    font-size: 1.1em;
    margin-top: 3vh;
    position: relative;
    transform: translateY(-20%);
}

.description {
    font-weight: 400;
    font: 1em;
}

.location {
    font-size: .8em;
    font-weight: 400;
    color: #666666;
}

.buttons {
    margin-top: 2vh;
}

button {
    border: none;
    border-radius: 12px;
    padding: 4px 12px;
    background-color: #FFFFFF;
    margin-right: 2vw;
    border: 1px solid #666666;
}

.buttons :first-child {
    border: none;
    background-color: #0B65C2;
    color: #FFFFFF;
}


/* ===== INFORMAÇÕES DE HARD-SKILLS =================== */

section#especified-information {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3vw;
}

#experience {
    box-sizing: border-box;
    border-bottom: 1px #666666;
}

.bottom-line {
    height: 1px;
    width: 100%;
    background:#666666;
    margin-bottom: 4vh;
}

.image-container {
    cursor: pointer;
    box-sizing: content-box;
    display: inline;
}

.image-container img{
    width: 5vw;
    margin-right:3vw;
}

.experience-content, .academic-content {
    display: flex;
    width: 100%;
    margin: 3vw 0;
    align-items: center;
}

h2 {
    font-size: 1.2em;
}
