* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
}



/* ========= NAV BAR =============================== */


header {
    margin-top: 0;
}

.nav-bar {
    margin-top: 0;
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 1vw;
    z-index: 100;
}

#nav-profile-picture {
    border-radius: 50%;
    border: none;
}

#icons-container {
    display: inline;
    align-items: center;
    cursor: pointer;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    box-sizing: content-box;
    text-align: center;
    font-size: smaller;
    position: relative;
    margin: 0.5vh 2vw;
    line-height: 1.5;
    width: 1.6vw;
}

label {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}


.left-container {
    align-items: center;
    display: inline-flex;
}

#logo {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

#search-container {
    background-color: #EEF3F7;
    box-sizing: content-box;
    border-radius: 4px;
    align-items: center;
    padding: 1vh 1.5vw;
    margin-left: 1vw;
    cursor: text;
    vertical-align: baseline;
}

#search-field {
    box-shadow: 0 0 0 0;
    border: 0 none;
    background-color: #EEF3F7;
    align-items: center;
    outline: 0;
}

#search-container  ::selection {
    border: 1px solid black;
}




/* =========== CONTEÚDO PRINCIPAL DA PÁGINA ============================================ */



main {
    display: block;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

section {
    width: min(90vw, 768px);
    background-color: #FFFFFF;
    margin: auto;
}

section#profile-informations {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
}

#profile-background-image {
    height: 12em;
    background-image: url(./assets/background_image_programming_life.jpg);
    background-repeat: no-repeat;
    border-image: none;
    width: 100%;
    background-position: center;
    top: 0;
    background-size: cover;
}

#profile-picture {
    border-radius: 50%;
    border: .5vw solid #FFFFFF;
    /* width: 152px; */
    width: 20%;
    position: relative;
    transform: translateY(-70%);
}

#profile-informations-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 3vw;
    padding-bottom: 6vh;
}

.title {
    position: relative;
    transform: translateY(-20%);
}

.title, .description, .location {
    box-sizing: content-box;
}

button {
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    background-color: #FFFFFF;
    margin-right: 2vw;
    border: 1px solid #666666;
}

.buttons :first-child {
    background-color: #0B65C2;
    color: #FFFFFF;
}


/* ===== INFORMAÇÕES DE HARD-SKILLS =================== */

section#especified-information {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 3vw;
}

#experience {
    border-bottom: 1px #666666;
}

.image-container {
    box-sizing: content-box;
    display: inline;
}

.image-container img{
    width: 5vw;
    margin-right:3vw;
}

.experience-content, .academic-content {
    display: flex;
    margin: 3vw 0;
    align-items: center;
}


